<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Twitter Checker</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="static/css/app.css">
  </head>
  <body>
      <div class="jumbotron">
        <h1>Welcome to the Twitter Checker App</h1>
        <p>This Web application will check for certain key words from Twitter and give an option to send a notification
           to a specific email address and also give an option to save the tweet in a database </p>
      </div>

    {{ insert_me}}


  </body>
</html>
